@charset "ISO-8859-1";
body{
            position:absolute;
        }
        h2
        {font-size:24px;color: aliceblue;text-shadow: 0 1px 1px black,0 1.5px 3px black;
        }
      div{
        border-radius: 6px;
        position: fixed;
        top:20%;
        left: 40%;
        background-color: #8080c0;
        box-shadow: 0 5px 10px black,0 7px 10px black;
      }
      div:hover
      { 
      box-shadow: 0 5px 10px black,0 8px 15px black,4px 10px 10px black;
      }
      label{
    
        font-size: 16px;
        text-shadow:0 1px 1px rgb(58, 49, 49),0 1px 1.2px rgb(243, 237, 237),1px 1px 1px white;
        padding-bottom: 10px;
      }
      input
      {
     	margin-left: 20px;width: 200px;height: 20px;
    	margin-right: 20px;border:0.1px;box-shadow: 1px 1px 2px black,1px 1px 3px black;
    }
    input:hover
    {
    box-shadow: 0px 1px 4px rgb(212, 11, 162),0px 1px 4px rgb(214, 15, 181),1px 2px 3px rgb(196, 18, 101);
    }
  
    button
    {
    border-radius: 5px 7px;border-color: rgb(38, 24, 231);color: whitesmoke;text-shadow: 1px 1px 1px black;
    background:linear-gradient(45deg,rgb(235, 101, 12),rgb(22, 193, 216));padding: 5px;width: 80px;
    box-shadow: 0 5px 5px black;
    }